@model Categorie
<div class="container border border-dark">
    <h1 class="text-center">Creeaza o categorie noua</h1>
    <form method="post">
      <div class="d-flex justify-content-center border border-dark">
        <div class="form-group row">
         <div class="col-4 pt-2">
            <label asp-for="Nume"></label>
         </div>
          <div class="col-8 pt-2">
            <input asp-for="Nume" class="form-control"/>
         </div>
        </div>
       
      </div>
      <div class="d-flex justify-content-center border border-dark pt-3">
          <div class="form-group row">
       <div class="col-6">
          <button type="submit" class="btn btn-primary">Creeaza</button>
         
      </div>
      <div class="col-6">
           <a class="btn btn-primary">Inapoi</a>
      </div>
       </div>
       </div>
      
      
        
    </form>
</div>
